section#start-page {
	margin: 150px;
	margin-top: 10%;
	padding: 150px;
	text-align: center;

	border: black;
	border-style: solid;
	border-width: 1px;
}

canvas#main {
	position: absolute;
	left: 10%;
	border: solid;
	border-width: 1px;
	padding-left: 
}

footer#credit {
	padding-top: 51%;
}