section#start {
	margin-left: 100px;
	margin-right: 100px;
	padding: 5%;
	text-align: center;
	border: black;
	border-style: solid;
	border-width: 1px;
	font-family: sans-serif;
	text-align: center;
	/*display: none;*/
}

section#next {
	text-align: center;
	font-family: sans-serif;
	border: black;
	border-style: solid;
	border-width: 1px;
	margin-left: 33%;
	margin-right: 33%;
	margin-top: 7%;
	padding-top: 75px;
	padding-bottom: 50px;
	display: none;
}

section#finish {
	text-align: center;
	font-family: sans-serif;
	border: black;
	border-style: solid;
	border-width: 1px;
	margin-left: 33%;
	margin-right: 33%;
	margin-top: 5%;
	padding-bottom: 30px;
	display: none;
}

h1#gameover {
	padding: 50px;
	padding-bottom: 35px;
	font-size: 30pt;
}

h1#title {
	font-size: 50pt;
}

h2#score {
	padding-top: 75px;
	padding-bottom: 90px;
}

p#highscoreLabel {
	font-size: 20pt;
	padding: 10px;
}

ol#highscores {
	display: inline-block;
	margin-left: auto;
	margin-right: auto;
}

button {
	height: 30px;
	width: 100px;
}

canvas#main {
	position: absolute;
	left: 10%;
	border: solid;
	border-width: 1px;
	display: none;
}

footer {
	text-align: center;
}