section#start {
	margin: 150px;
	margin-top: 10%;
	padding: 150px;
	text-align: center;
	border: black;
	border-style: solid;
	border-width: 1px;
	font: sans-serif;
}

canvas#main {
	position: absolute;
	left: 10%;
	border: solid;
	border-width: 1px;
	display: none;
}

span#credit {
	bottom: 0px;
}